In [1]:
import pandas as pd

Bài 1:

In [2]:
df = pd.read_csv('./student.csv')
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           NaN   22            3.5         3.7
1     34.39    -118.54      M           NaN   22            2.9         3.2
2     37.80    -122.27      F           NaN   22            3.9         3.8
3     37.69    -122.09      F           NaN   20            3.3         2.8
4    -23.18     -45.88      F           NaN   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5

In [3]:
df.isnull().sum()

id                      0
name                    0
nationality             0
city                    0
latitude                0
longitude               0
gender                  0
ethnic.group          307
age                     0
english.grade           0
math.grade              0
sciences.grade          0
language.grade          0
portfolio.rating        0
coverletter.rating      0
refletter.rating        0
dtype: int64

In [4]:
df = df.fillna(0)
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           0.0   22            3.5         3.7
1     34.39    -118.54      M           0.0   22            2.9         3.2
2     37.80    -122.27      F           0.0   22            3.9         3.8
3     37.69    -122.09      F           0.0   20            3.3         2.8
4    -23.18     -45.88      F           0.0   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5

In [5]:
df = df.dropna()
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           0.0   22            3.5         3.7
1     34.39    -118.54      M           0.0   22            2.9         3.2
2     37.80    -122.27      F           0.0   22            3.9         3.8
3     37.69    -122.09      F           0.0   20            3.3         2.8
4    -23.18     -45.88      F           0.0   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5

Bài 2:

In [6]:
df.groupby('gender').agg({'math.grade': 'mean', 'sciences.grade': 'sum'})

        math.grade  sciences.grade
gender
F         3.394079           517.6
M         3.435099           526.0
other     3.400000            14.5

In [7]:
df['adjusted_age'] = df['age'].apply(lambda x: x + 2 if x < 18 else x - 1)
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           0.0   22            3.5         3.7
1     34.39    -118.54      M           0.0   22            2.9         3.2
2     37.80    -122.27      F           0.0   22            3.9         3.8
3     37.69    -122.09      F           0.0   20            3.3         2.8
4    -23.18     -45.88      F           0.0   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating  adjusted_age
0                 4            21
1                 5            21
2                 4            21
3                 4            19
4                 5            20

In [8]:
df['total_grade'] = df['math.grade'] + df['sciences.grade'] + df['english.grade'] + df['language.grade']
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           0.0   22            3.5         3.7
1     34.39    -118.54      M           0.0   22            2.9         3.2
2     37.80    -122.27      F           0.0   22            3.9         3.8
3     37.69    -122.09      F           0.0   20            3.3         2.8
4    -23.18     -45.88      F           0.0   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating  adjusted_age  total_grade
0                 4            21         11.3
1                 5            21         14.7
2                 4            21         15.9
3                 4            19         14.3
4                 5            20         10.7