In [1]:
import pandas as pd

Bài 1:

In [2]:
df = pd.read_csv('./student.csv')
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           NaN   22            3.5         3.7
1     34.39    -118.54      M           NaN   22            2.9         3.2
2     37.80    -122.27      F           NaN   22            3.9         3.8
3     37.69    -122.09      F           NaN   20            3.3         2.8
4    -23.18     -45.88      F           NaN   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating
0                 4
1                 5
2                 4
3                 4
4                 5

In [3]:
print(df.loc[0, 'gender'])
print(df.iloc[0, 1])
print(df.at[0, 'name'])
print(df.iat[0, 1])
print(df[df['math.grade'] > 3.2])

F
Kiana Lor
Kiana Lor
Kiana Lor
      id               name               nationality         city  latitude  \
0      0          Kiana Lor                     China       Suzhou     31.31
2      2      Dakota Blanco  United States of America      Oakland     37.80
6      6         Joey Abreu                     China     Shenyang     41.79
7      7     Preston Suarez                    Brazil    São Paulo    -23.47
8      8           Lee Dong               Philippines       Manila     14.60
..   ...                ...                       ...          ...       ...
300  300    Tessa Rawanduzy  United States of America        Derby     37.55
301  301   Vanessa Gonzalez                 Nicaragua         León     12.44
302  302        Austin Haas  United States of America     Columbus     39.96
303  303    Madison Fithian  United States of America  Los Angeles     34.05
304  304  Zachary Mulvahill  United States of America  Los Angeles     34.05

     longitude gender  ethnic.group  age  english.grade  math.grade  \
0       120.62      F           NaN   22            3.5         3.7
2      -122.27      F           NaN   22            3.9         3.8
6       123.43      M           NaN   22            3.7         3.9
7       -46.67      M           NaN   22            3.8         3.7
8       120.98      F           NaN   24            3.9         3.6
..         ...    ...           ...  ...            ...         ...
300     -97.27      F           NaN   21            3.3         3.3
301     -86.88      F           NaN   24            3.3         3.7
302     -83.00      M           NaN   20            3.6         3.7
303    -118.24      F           NaN   20            3.6         3.9
304    -118.24      M           NaN   20            3.2         3.4

     sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0               3.1             1.0                 4                 4.0
2               3.2             5.0                 3                 3.0
6               3.6             2.0                 5                 5.0
7               3.6             2.0                 5                 5.0
8               3.2             2.0                 4                 3.0
..              ...             ...               ...                 ...
300             2.0             5.0                 3                 3.0
301             3.8             3.0                 5                 5.0
302             3.1             5.0                 4                 5.0
303             4.0             5.0                 5                 5.0
304             3.9             5.0                 5                 5.0

     refletter.rating
0                   4
2                   4
6                   5
7                   4
8                   5
..                ...
300                 5
301                 4
302                 5
303                 3
304                 3

[208 rows x 16 columns]

In [4]:
df['cot_moi'] = df['gender'] + df['name']
print(df.head())

   id             name               nationality                 city  \
0   0        Kiana Lor                     China               Suzhou
1   1   Joshua Lonaker  United States of America        Santa Clarita
2   2    Dakota Blanco  United States of America              Oakland
3   3  Natasha Yarusso  United States of America        Castro Valley
4   4   Brooke Cazares                    Brazil  São José dos Campos

   latitude  longitude gender  ethnic.group  age  english.grade  math.grade  \
0     31.31     120.62      F           NaN   22            3.5         3.7
1     34.39    -118.54      M           NaN   22            2.9         3.2
2     37.80    -122.27      F           NaN   22            3.9         3.8
3     37.69    -122.09      F           NaN   20            3.3         2.8
4    -23.18     -45.88      F           NaN   21            3.7         2.6

   sciences.grade  language.grade  portfolio.rating  coverletter.rating  \
0             3.1             1.0                 4                 4.0
1             3.6             5.0                 5                 4.0
2             3.2             5.0                 3                 3.0
3             3.2             5.0                 5                 2.0
4             3.4             1.0                 4                 4.0

   refletter.rating           cot_moi
0                 4        FKiana Lor
1                 5   MJoshua Lonaker
2                 4    FDakota Blanco
3                 4  FNatasha Yarusso
4                 5   FBrooke Cazares

In [5]:
df = df.drop(columns=['cot_moi'])